<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/contact_style.css">
    <title>Contact</title>
</head>
<body>
    <header>
        <h1><a class="logo" href="../index.html">Demure</a></h1>
        <nav>
            <ul class="nav-link">
                <li><a class="nav-item" href="../index.html">Home</a></li>
                <li><a class="nav-item" href="#">Contact us</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-form">
        <section class="main-heading">
            <h1>Contact us</h1>
        </section>
        <section class="contact-container">
            <section class="contact-details">
                <h2>Contact Details</h2>
                <p>Email: contact@kochi.com <br> Phone: (555) 555-5555 </p>
                <h2>Central HQ </h2>
                <p><address>123 Avenue Street <br>Township, CA 12345</address></p>
            </section>
            <form class="contact-form">
                <h2>Online Inquiry</h2>
                <div class="name-input">
                    <label class="name-lb" for="name">Name:</label>
                    <input type="text" id="name" placeholder="e. g. Saja Jaber">
                </div>
                <div class="email-input">
                    <label class="email-lb" for="email">Email:</label>
                    <input type="email" id="email" placeholder="e. g. sjaber@demure.com">
                </div>
                <div class="msg-input">
                    <label class="email-lb" for="msg">Message:</label>
                    <textarea id="msg" placeholder="type your message here"></textarea>
                </div>
                <div class="submit-bt">
                    <input id="submit-bt" type="submit" value="Submit">
                </div>
            </form>
        </section>
    </main>
    <footer>
        <p class="footer-text">Copyright Demure Inc. 2025. Developed by Saja Jaber</p>
    </footer>
</body>
</html>